<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="cart_title">カート</div>
<table>
<!--   # Rails Play Time - Ch.10 Depot_e -->
  <% for item in @cart.line_items %>
  <%= form_for item do |f| %>
  <tr>
    <td>
      <%= f.text_field :quantity, size: 1 %> &times;
    </td>
    <td><%= item.product.title %></td>
    <td class="item_price"><%= number_to_currency(item.total_price) %></td>
  </tr>
  <% end %>
  <% end %>
  <tr class="total_line">
    <td colspan="2">合計</td>
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</table>

<%= button_to 'カートを空にする', @cart, method: :delete,
    confirm: '本当に良いですか？' %>
